.hbox.hbox-auto-xs.hbox-auto-sm
  .col
    // main header
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-xs-12
          h1.m-n.font-thin.h3.text-black(ng-bind='$ctrl.header')
          a.pull-right(ui-sref='users.list()')
            span.m-r.fa.fa-list
            | Show List
      form.form.form-validation(ng-submit='$ctrl.submit()' name='addUser')
        .row
          .col-md-6.col-sm-12.col-xs-12
            .form-group
              label(for='name') Name
              input#name.form-control(placeholder='Name' ng-model='$ctrl.data.name' required)
          .col-md-6.col-sm-12.col-xs-12
            .form-group
              label(for='mobile') Mobile
              input#mobile.form-control(type='text' placeholder='Mobile' ng-model='$ctrl.data.mobile' required)
        .row
          .col-md-6.col-sm-12.col-xs-12
            .form-group
              label(for='email') Email
              input#email.form-control(type='email' placeholder='Email' ng-model='$ctrl.data.email')
          .col-md-6.col-sm-12.col-xs-12
            .form-group
              label(for='password') Password
              input#password.form-control(type='password' placeholder='Password' ng-model='$ctrl.data.password' ng-disabled='$ctrl.$state.is("user.edit")' value='')
        .row
          .col-md-6.col-sm-12.col-xs-12
            .form-group
              label(for='supportName') Support Person Name
              input#supportName.form-control(placeholder='Support person name' ng-model='$ctrl.data.supportName' ng-pattern="/[A-Z0-9 ]$/i")
          .col-md-6.col-sm-12.col-xs-12
            .form-group
              label(for='supportMobile') Support Person Mobile
              input#supportMobile.form-control(type='text' placeholder='Support person mobile' ng-model='$ctrl.data.supportMobile' ng-pattern='/^[0-9]{10}$/')
        .row
          .col-md-6.col-sm-12.col-xs-12
            .form-group
              label(for='supportEmail') Support Person Email
              input#supportEmail.form-control(type='email' placeholder='Support person email' ng-model='$ctrl.data.supportEmail')
          .col-md-6.col-sm-12.col-xs-12
            .form-group
              label(for='domain') Domain
              input#domain.form-control(type='text' placeholder='Domain ex: example.com' ng-model='$ctrl.data.loginUrl')
        //.row
          .col-md-6.col-xs-12
            .form-group
              label(for='routeId') User Role
              select#routeId.form-control(
                name='routeId'
                required
                ng-model='$ctrl.data.roleId'
                ng-options='role.val as role.name for role in $ctrl.roles'
              )
        .row
          .col-md-12.col-sm-12.col-xs-12
            label.col-xs-12.input-group(for='companyAddress')
              span Company Address
              .pull-right.ng-binding(ng-bind='"(" + ($ctrl.data.comment.length || 0) + "/1000)"') (0/1000)
              textarea#companyAddress.form-control(
                required
                name='companyAddress'
                rows='5'
                ng-model='$ctrl.data.companyAddress'
                maxlength='300'
              )
        .row
          .col-md-6.col-sm-12.col-xs-12
            button.m-t-xs.btn.btn-success(type='submit' ng-disabled='addUser.$invalid')
              span(ng-if='!$ctrl.ui.loading') Save
              span(ng-if='$ctrl.ui.loading') Saving...


