.hbox.hbox-auto-xs.hbox-auto-sm.bg-white-only.min-h-500
  .col
  .col
    // - otp
    .wrapper-lg(ng-if='$ctrl.ui.otp')
      .h4.text-info
        span.no-padder-left.m-t-md.m-r.pointer.b-b.padder-v.padder-lg OTP
        .close.text-danger(ng-click='$ctrl.cancel()') X

      div.m-t-lg.m-b.sm.text-danger &nbsp;{{$ctrl.error}}
      form.form.form-validation.m-t-lg(ng-submit="$ctrl.otpSend($ctrl.data)" name="otpForm")
        input.form-control.m-b-sm(type='text' name="mobile" placeholder='Enter email or mobile' ng-model='$ctrl.data.mobile' required autofocus="true")
        select.form-control.m-b-sm(ng-options='c.id as c.name for c in $ctrl.Enum.countries' ng-model="$ctrl.countryCode" ng-if="$ctrl.Number($ctrl.data.mobile)")
        a.pull-right.text-info(ng-click="$ctrl.otp = false") Login with Password
        button.btn.btn-lg.btn-info.btn-block.m-t-lg(type='submit' ng-disabled="!$ctrl.otpButton || otpForm.$invalid")
          .fa.fa-phone.m-r
          | {{ $ctrl.otpSent ? 'Resend in '+$ctrl.delay+' Seconds' : 'Send OTP' }}
      form.form-validation.m-t-lg(name="form" ng-submit='$ctrl.loginNow($ctrl.data)' ng-show="$ctrl.otpSent")
        input.form-control.m-b-sm(type='password' placeholder='{{$ctrl.otpSent ? "Enter OTP" : "Your password"}}' ng-model='$ctrl.data.password' required)
        input.form-control.m-b-sm(type='text' name='name', placeholder='Name' ng-model="$ctrl.data.name" ng-if='$ctrl.ui.newUser' required)
        button.btn.btn-lg.btn-info.btn-block.m-t-xxl(type='submit' ng-disabled="form.$invalid")
          .fa.fa-lock.m-r
          | Secure Login
        span.m-t By Logging in you agree to our T&C and Privacy Policy.


    // - login and signup
    .wrapper-lg(ng-if='!$ctrl.ui.otp')
      .h4.text-info
        span.no-padder-left.m-t-md.m-r.pointer(ng-class="$ctrl.login ? 'b-b padder-v padder-lg' : ''" ng-click="$ctrl.login = true") Login
        span.m-t-md.pointer(ng-class="!$ctrl.login ? 'b-b padder-v padder-lg' : ''" ng-click="$ctrl.login= false") Signup
        .close.text-danger(ng-click='$ctrl.cancel()') X

      div.m-t-lg.m-b.sm.text-danger &nbsp;{{$ctrl.error}}

      // - signup
      form.form-validation(name="form" ng-submit='$ctrl.loginNow($ctrl.data)' ng-show="$ctrl.login")

        input.form-control.m-b-sm(type='text' name="mobile" placeholder='Enter email or mobile' ng-model='$ctrl.data.mobile' required autofocus="true")
        select.form-control.m-b-sm(ng-options='c.id as c.name for c in $ctrl.Enum.countries' ng-model="$ctrl.countryCode" ng-if="$ctrl.Number($ctrl.data.mobile)")
        input.form-control.m-b-sm(type='password' placeholder='{{$ctrl.otpSent ? "Enter OTP" : "Your password"}}' ng-model='$ctrl.data.password' required)
        a.m-t.m-b(ng-if="$ctrl.otpButton" ng-show="form.mobile.$valid && $ctrl.Number($ctrl.data.mobile)" ng-class="$ctrl.otpButton ? 'text-info' : 'text-muted'"
        ng-click="$ctrl.otpSend($ctrl.data);") {{ $ctrl.otpSent ? ($ctrl.otpButton ? 'Resend OTP' :'Resend OTP') : 'Login with OTP' }}
        span(ng-if="!$ctrl.otpButton") You can Resend in {{$ctrl.delay}} Seconds
        a.pull-right.text-info(ui-sref='access.password_reset' ng-click="$ctrl.cancel()") Forgot password?

        button.btn.btn-lg.btn-info.btn-block.m-t-xxl(type='submit' ng-disabled="form.$invalid")
          .fa.fa-lock.m-r
          | Secure Login
        span.m-t By Logging in you agree to our T&C and Privacy Policy.
      form.form.form-validation.m-t-lg(ng-submit="$ctrl.otpSend($ctrl.data)" name="otpForm" ng-show="!$ctrl.login")
        select.form-control.m-b-sm(ng-options='c.id as c.name for c in $ctrl.Enum.countries' ng-model="$ctrl.countryCode")
        div.text-danger(ng-if="otpForm.mobile.$error.unique && otpForm.mobile.$dirty" )
          | Mobile {{'+'+$ctrl.countryCode+ '-'+$ctrl.data.mobile}} already exist. Please &nbsp;
          span.pointer.text-info.strong(ng-click="$ctrl.login=true") login &nbsp;
          | using OTP
        input.form-control.m-b-sm(type='text', name='mobile', placeholder='Mobile' ng-model="$ctrl.data.mobile" ng-disabled="!$ctrl.otpButton" ng-class="$ctrl.otpButton ? '':'pointer-na'"
        pbb-open-user-unique="mobile~~{{$ctrl.countryCode}}" ng-pattern="/[0-9]*/" required autocomplete='off')

        button.btn.btn-lg.btn-info.btn-block.m-t-lg(type='submit' ng-disabled="!$ctrl.otpButton || otpForm.$invalid")
          .fa.fa-phone.m-r
          | {{ $ctrl.otpSent ? 'Resend in '+$ctrl.delay+' Seconds' : 'Send OTP' }}

      // - login
      form.form.form-validation(ng-submit="$ctrl.signup($ctrl.data)" name="signupForm" ng-show="!$ctrl.login && $ctrl.otpSent")
        p
          | Enter One Time Password (OTP) sent to your mobile number {{'+'+$ctrl.countryCode+ '-'+$ctrl.data.mobile}} or
          span.pointer.text-info(ng-click="$ctrl.otpSent=false;$ctrl.otpButton=true;$ctrl.data.mobile=''") &nbsp;change mobile number
        input.form-control.m-b-sm(type='number' name='otp', placeholder='OTP' ng-model="$ctrl.data.otp" required)
        input.form-control.m-b-sm(type='text' name='name', placeholder='Name' ng-model="$ctrl.data.name" required)
        div.text-danger(ng-if="signupForm.email.$error.email && signupForm.email.$dirty") Please enter valid email.
        div.text-danger(ng-if="signupForm.email.$error.required && signupForm.email.$dirty") Email is required.
        div.text-danger(ng-if="signupForm.email.$error.unique && signupForm.email.$dirty") Email already exist. Please login
        input.form-control.m-b-sm(type='email' name='email', placeholder='Email (Optional)' ng-model="$ctrl.data.email" pbb-open-user-unique="email"
        ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/")


        input.form-control.m-b-sm(type='password', name='pasword', placeholder='Enter Password(Optional)' ng-model="$ctrl.data.password")

        div.text-danger(ng-if="signupForm.password.$error.same") Password not matching
        input.form-control.m-b-sm(type='password', ng-if="$ctrl.data.password" name='repassword',
        ng-blur="signupForm.password.$error.same = !($ctrl.data.password === $ctrl.data.repassword)" placeholder='Re enter Password'
        ng-model="$ctrl.data.repassword" required)


        button.btn.btn-lg.btn-info.btn-block.m-t-lg(type='submit' ng-disabled="signupForm.$invalid")
          .fa.fa-lock.m-r
          | Create my 1-Click Account
        input.m-b-sm(type='password' name='fake' style='width:1px;visibility:hidden')
        span.m-t By Signing Up you agree to our T&C and Privacy Policy.

